.odd {
    background-color: #fc9faf;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-24 {
    font-size: 24px;
}

#number-2 {
    color: #0000ff;
    font-size: 36px;
}

#number-4 {
    background-color: #59fc59;
    font-weight: bold;
}